<div class="<%= header_class %>">
  <%= render "shared/page_header", title: "Metody płatności", subtitle: "Zarządzaj metodami płatności swojego sklepu" %>
  <%= link_to new_settings_payment_method_path, class: "btn btn-primary w-full sm:w-auto", data: { turbo_frame: "payment_method_modal" } do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj metodę płatności
  <% end %>
</div>
<% if @payment_methods.any? %>
  <%= render "payment_methods_table" %>
<% else %>
  <%= render "payment_methods_empty_state" %>
<% end %>
<%= turbo_frame_tag "payment_method_modal" %>
