<div class="<%= header_class %>">
  <%= render "shared/page_header", title: "Kody rabatowe", subtitle: "Zarządzaj kodami rabatowymi swojego sklepu" %>
  <%= link_to new_settings_discount_path, class: "btn btn-primary w-full sm:w-auto", data: { turbo_frame: "discount_modal" } do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj kod rabatowy
  <% end %>
</div>
<% if @discount_codes.any? %>
  <%= render "discounts_table" %>
<% else %>
  <%= render "discount_empty_state" %>
<% end %>
<%= turbo_frame_tag "discount_modal" %>
