<%= form_with model: @transmission, data: { turbo_frame: "_top" } do |f| %>
  <div class="form-control w-full max-w-md">
    <%= f.label :name, "Nazwa", class: "label" %>
    <%= f.text_field :name, class: "input input-bordered w-full focus:input-primary #{@transmission.errors[:name].any? ? 'input-error' : ''}", placeholder: "np. Transmisja produktu X" %>
    <% @transmission.errors[:name].each do |message| %>
      <label class="label">
        <span class="text-error text-sm"><%= message %></span>
      </label>
    <% end %>
  </div>
  <div class="modal-action">
    <%= button_tag type: "button", class: "btn btn-ghost",
        onclick: "document.getElementById('transmission_modal').innerHTML = ''" do %>
      Anuluj
    <% end %>
    <%= f.submit @transmission.persisted? ? "Zapisz" : "Utwórz transmisję", class: "btn btn-primary" %>
  </div>
<% end %>
