<div class="<%= header_class %>">
  <%= render "shared/page_header", title: "Pracownicy", subtitle: "Zarządzaj pracownikami swojego sklepu" %>
  <%= link_to new_employee_path, class: "btn btn-primary w-full sm:w-auto", data: { turbo_frame: "user_modal" } do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj pracownika
  <% end %>
</div>
<% if @users.any? %>
  <%= render "users/table" %>
<% else %>
  <%= render "users/empty_state" %>
<% end %>
<%= turbo_frame_tag "user_modal" %>