<div class="<%= header_class %>">
  <%= render "shared/page_header", title: "Klienci", subtitle: "Zarządzaj klientami swojego sklepu" %>
  <%= link_to new_customer_path, class: "btn btn-primary w-full sm:w-auto", data: { turbo_frame: "customer_modal" } do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj klienta
  <% end %>
</div>
<% if @customers.any? %>
  <%= render "customers/table" %>
<% else %>
  <%= render "customers/empty_state" %>
<% end %>
<%= turbo_frame_tag "customer_modal" %>