<div class="<%= header_class %>">
  <%= render "shared/page_header", title: "Zamówienia", subtitle: "Zarządzaj zamówieniami swojego sklepu" %>
  <%= link_to new_order_path, class: "btn btn-primary w-full sm:w-auto" do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj zamówienie
  <% end %>
</div>
<% if @all_orders.any? %>
  <div class="flex gap-4">
    <div class="flex-1 min-w-0" data-controller="checkbox-select-all">
      <%= render "orders/orders_toolbar" %>
      <div class="bg-base-100 rounded-b-lg shadow-sm overflow-x-auto">
        <%= render "orders/orders_table" %>
      </div>
    </div>
  </div>
<% else %>
  <%= render "orders/orders_empty_state" %>
<% end %>
