<%= turbo_frame_tag "billing_address_section" do %>
  <div class="flex items-center gap-2 mb-3">
    <h3 class="subsection-title">Adres faktury</h3>
  </div>
  <%= form_with model: @billing_address, url: order_billing_address_path(@order) do |f| %>
    <div class="space-y-3">
      <div class="flex justify-between items-center">
        <span class="label-text">Wymagana faktura</span>
        <%= f.check_box :needs_invoice, class: "checkbox checkbox-sm" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Nazwa firmy</span>
        <%= f.text_field :company_name, class: "input input-bordered input-sm w-44", placeholder: "Firma Sp. z o.o." %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">NIP</span>
        <%= f.text_field :nip, class: "input input-bordered input-sm w-44", placeholder: "123-456-78-90" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Imię</span>
        <%= f.text_field :first_name, class: "input input-bordered input-sm w-44", placeholder: "Jan" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Nazwisko</span>
        <%= f.text_field :last_name, class: "input input-bordered input-sm w-44", placeholder: "Kowalski" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Ulica i numer</span>
        <%= f.text_field :address_line1, class: "input input-bordered input-sm w-44", placeholder: "ul. Przykładowa 123" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Dodatkowe info</span>
        <%= f.text_field :address_line2, class: "input input-bordered input-sm w-44", placeholder: "Mieszkanie 4" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Kod pocztowy</span>
        <%= f.text_field :postal_code, class: "input input-bordered input-sm w-44", placeholder: "00-000" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Miasto</span>
        <%= f.text_field :city, class: "input input-bordered input-sm w-44", placeholder: "Warszawa" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Kraj</span>
        <%= f.select :country, options_for_select(BillingAddress::COUNTRIES, @billing_address.country.presence || "PL"),
            {},
            class: "select select-bordered select-sm w-44" %>
      </div>
    </div>
    <div class="flex justify-end gap-2 mt-4">
      <%= link_to "Anuluj", order_path(@order), class: "btn btn-ghost btn-sm" %>
      <%= f.submit "Zapisz", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
<% end %>
