<%= form_with model: @account, url: onboarding_accounts_path do |f| %>
  <div class="form-control w-full">
    <%= f.label :company_name, "Nazwa firmy", class: "label" %>
    <%= f.text_field :company_name, class: "input input-bordered w-full focus:input-primary", placeholder: "np. Firma sp. z o.o." %>
  </div>
  <div class="form-control w-full">
    <%= f.label :nip, "NIP", class: "label" %>
    <%= f.text_field :nip, class: "input input-bordered w-full focus:input-primary", placeholder: "np. 1234567890" %>
  </div>
  <%= f.submit "Zapisz", class: "btn btn-primary" %>
<% end %>