<%= turbo_frame_tag "shipping_address_section" do %>
  <h3 class="subsection-title mb-3">Adres dostawy</h3>
  <%= form_with model: @shipping_address, url: order_shipping_address_path(@order) do |f| %>
    <div class="space-y-3">
      <div class="flex justify-between items-center">
        <span class="label-text">Imię</span>
        <%= f.text_field :first_name, class: "input input-bordered input-sm w-44", placeholder: "Jan" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Nazwisko</span>
        <%= f.text_field :last_name, class: "input input-bordered input-sm w-44", placeholder: "Kowalski" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Ulica i numer</span>
        <%= f.text_field :address_line1, class: "input input-bordered input-sm w-44", placeholder: "ul. Przykładowa 123" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Dodatkowe info</span>
        <%= f.text_field :address_line2, class: "input input-bordered input-sm w-44", placeholder: "Mieszkanie 4" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Kod pocztowy</span>
        <%= f.text_field :postal_code, class: "input input-bordered input-sm w-44", placeholder: "00-000" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Miasto</span>
        <%= f.text_field :city, class: "input input-bordered input-sm w-44", placeholder: "Warszawa" %>
      </div>
      <div class="flex justify-between items-center">
        <span class="label-text">Kraj</span>
        <%= f.select :country, options_for_select(ShippingAddress::COUNTRIES, @shipping_address.country.presence || "PL"),
            {},
            class: "select select-bordered select-sm w-44" %>
      </div>
    </div>
    <div class="flex justify-end gap-2 mt-4">
      <%= link_to "Anuluj", order_path(@order), class: "btn btn-ghost btn-sm" %>
      <%= f.submit "Zapisz", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
<% end %>
