<div class="<%= header_class %>">
  <%= render "shared/page_header", title: "Metody wysyłki", subtitle: "Zarządzaj metodami wysyłki swojego sklepu" %>
  <%= link_to new_settings_shipping_method_path, class: "btn btn-primary w-full sm:w-auto", data: { turbo_frame: "shipping_method_modal" } do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj metodę wysyłki
  <% end %>
</div>
<% if @shipping_methods.any? %>
  <%= render "shipping_methods_table" %>
<% else %>
  <%= render "shipping_methods_empty_state" %>
<% end %>
<%= turbo_frame_tag "shipping_method_modal" %>