<div class="<%= header_class %>">
  <%= render "shared/page_header",
      title: "Produkty",
      subtitle: "Zarządzaj produktami swojego sklepu" %>
  <%= link_to new_product_path, class: "btn btn-primary w-full sm:w-auto" do %>
    <%= lucide_icon('plus', class: 'w-4 h-4') %>
    Dodaj produkt
  <% end %>
</div>
<% if @all_products.any? %>
  <div class="flex flex-col min-w-0" data-controller="checkbox-select-all">
    <%= render "products/products_toolbar" %>
    <div class="bg-base-100 rounded-b-lg shadow-sm overflow-x-auto">
      <%= render "products/products_table" %>
    </div>
  </div>
<% else %>
  <%= render "products/empty_state" %>
<% end %>
<!-- Modale dla wszystkich produktów -->
<% @products.each do |product| %>
  <%= render "products/stock_history_modal", product: product %>
<% end %>
