<div class="drawer lg:drawer-open">
  <input id="main-drawer" type="checkbox" class="drawer-toggle" />
  <!-- Main content -->
  <div class="drawer-content flex flex-col">
    <!-- Navbar with hamburger for mobile -->
    <%= render "layouts/navbar" %>
    <!-- Page content -->
    <main class="flex-1">
      <div class="px-8 py-6 space-y-8 mx-auto min-h-[calc(100vh-80px)]">
        <%= turbo_frame_tag "flash_messages" do %>
          <%= render "layouts/flash_messages" %>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </div>
  <!-- Sidebar -->
  <div class="drawer-side z-40">
    <label for="main-drawer" class="drawer-overlay"></label>
    <%= render "layouts/sidebar" %>
  </div>
</div>
